# Discord
# Create a discord bot in https://discord.com/developers/applications
DISCORD_BOT_TOKEN="<discord bot token>"
SERVER_ID="<discord server id>"
XKCD_CHANNEL_ID="<discord channel id for xkcd>"
TURNOFF_US_CHANNEL_ID="<discord channel id for turnoffus>"
MONKEYUSER_CHANNEL_ID="<discord channel id for monkeyuser>"

# Groq API Key
# Create API key in https://console.groq.com/keys
GROQ_API_KEY="<groq api key>"

# Google
GOOGLE_API_KEY="<google api key>"
XKCD_CSE_ID="<custom search engine id for xkcd>"
TURNOFFUS_CSE_ID="<custom search engine id for turnoffus>"
MONKEYUSER_CSE_ID="<custom search engine id for monkeyuser>"
